<div class="search-container">
  <div class="search-heading">
    <input (input)="eventHandler($event.target.value)" type="text" placeholder="Search book...">
    <button [disabled]="!selectedBook" (click)="modal.toggleModal()" class="btn btn-primary">Add book to list</button>
  </div>
  <div *ngIf="loading" class="spinner">
    <img class="spinner-gif" src="../../../../assets/icons/spinner.gif" alt="">
  </div>
  <div class="book-container">
    <book-card [cardSettings]="{summary: true, active: i === activeBook}" *ngFor="let book of books; index as i"
      (click)="bookSelected(book, i)" [bookVM]="book"></book-card>
  </div>
</div>
<add-book-confirmation-modal (saveBook)="onBookSaved($event)" [selectedBook]="selectedBook"
  #modal></add-book-confirmation-modal>