<div class="user-collection">
  <div *ngFor="let book of books; let i = index" class="card">
    <div class="card-body details">
      <img class="book-img" src="{{book.image}}" alt="">
      <div class="card-text">
        <p>{{book.title}}</p>
        <p>Available to: </p>
        <div class="btn-group-3">
          <button class="btn btn-primary">Lend</button>
          <button class="btn btn-primary">Swap</button>
          <button class="btn btn-primary">Both</button>
        </div>
        <a (click)="onDeleteSelected(books[i])"><i class="fa fa-trash"></i> Remove item</a>
      </div>
    </div>
  </div>
</div>
<generic-modal #modal (onConfirmed)="onDeleteBookConfirmation()" [viewModel]="modalContent"></generic-modal>
