<frame>
  <div body class="container">
    <div class="inbox-container">
      <!-- <h4 title>inbox</h4> -->
      <div class="chat-list">
        <div class="form-group search-input">
          <input formControlName="searchControl" class="form-control" placeholder="Search for users..." type="text">
          <!-- <ng-container *ngIf="users$ | async as users"> -->

          <!-- </ng-container> -->
        </div>
        <div>
          <ul *ngFor="let user of users$ | async">
            <li>{{user?.userDetails?.displayName}}</li>
          </ul>
        </div>
      </div>
      <div class="messages"></div>
    </div>
  </div>
</frame>
