<div class="user-details">
  <div class="user-img">
    <img src="{{user.photoURL}}" alt="">
  </div>
  <div class="details">
    <div class="row-align">
      <label>User name:</label>
      <p>{{user?.displayName}}</p>
    </div>
    <div class="row-align">
      <label>Language:</label>
      <p>{{user?.language}}</p>
    </div>
    <div class="edit">
      <a (click)="onEdit()"><i class="fa fa-edit"></i>Edit profile</a>
    </div>
  </div>
</div>
<edit-profile-modal [userDetails]="user" #modal (onConfirmed)="onEditSaved($event)"></edit-profile-modal>