<div class="auth-container">
  <a class="logo">BookHive</a>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <button (click)="login()" type="button" class="btn-main submit">Login</button>
  <span>or</span>
  <button (click)="signInWithGoogle()" class="btn-icon btn-google">
    <img src="../../../assets/icons/google.png" height="24px" width="24px" alt=""> Sign In with Google
  </button>
  <!-- <a style="text-decoration: none; cursor: pointer;" (click)="signInWithGoogle()">
    <div class="card shadow text-center">
      <div class="card-body">
        <img src="../../../assets/icons/google.png" height="24px" width="24px" alt="">  Sign In with Google
      </div>
    </div>
  </a> -->
  <a [routerLink]="['register']" style="text-decoration: none;">Don't have an account? <span
      class="text-register">Register</span></a>
</div>