@import '../../../../assets/styles/colors.less';

.book-card {
  display: grid;
  grid-template-rows: auto 200px auto;
  place-items: center;
  text-align: center;
  grid-row-gap: 15px;
  padding: 20px;
  margin-bottom: 15vh;
}

.details {
  display: grid;
  grid-template-columns: 30px 70vw;
  text-align: justify;
  align-items: baseline;
}

.fa {
  font-size: 18px;
}



.btn-group-2 {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  grid-column-gap: 15px;
  grid-template-rows: 100%;
}

.request-bar {
  background: @main-blue;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 70px;
  display: grid;
  align-items: center;
}
