@import url('../../../../assets/styles/style-variables.less');

.img-circle {
  border-radius: 10px;
}

.user-details {
  display: grid;
  background-color: @main-blue;
  grid-template-columns: 40% 60%;
  background-color: #B8DFD8;
  align-items: center;
  margin: 15px;
  padding: 10px;
  grid-column-gap: 15px;
}