<div *ngIf="viewModel" class="modal" [ngClass]="{'open': isOpen}">
  <div class="modal-content">
    <i (click)="toggleModal()" class="fa fa-close"></i>
    <h3>{{viewModel.heading}}</h3>
    <p>{{viewModel.message}}</p>
    <div class="book-card-container" *ngIf="viewModel.bookCard">
      <book-card (onRequestEdit)="onAvailabilitySelected($event)" [cardSettings]="{requestOptions: {edit: true}}"
        [bookVM]="viewModel.bookCard"></book-card>
    </div>
    <div class="btn-group btn-2">
      <button class="btn-main submit" (click)="onConfirm()">Confirm</button>
      <button class="btn-main btn-cancel" (click)="toggleModal()">Cancel</button>
    </div>
  </div>
</div>