/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.btn-default {
  background-color: #ccc;
  color: #fff;
}

.btn-highlight {
  background-color: aquamarine;
}
