<div class="row">
  <div class="col-md-12">
    <input (input)="eventHandler($event.target.value)" type="text" placeholder="Search book...">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button [disabled]="!toggleBook" (click)="addToList()" class="btn btn-primary">Add book to list</button>
    <div class="book-container">
      <div [ngClass]="{'book-selected' : toggleBook && index === i}" (click)="bookSelected(item, i)" class="book-item"
        *ngFor="let item of books; index as i">
        <img src={{item.image}}>
        <div class="body">
          <h5 class="card-title">{{item.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{item.author}}</h6>
          <p class="card-text">{{item.subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
