.book-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 15px;
  margin: 15px;
  box-shadow: 1px 1px 3px 1px #b2b1b140;
  background-color: white;
  padding: 10px;
}

h6 {
  margin: 0;
  font-size: 13px;
}

.details {
  display: grid;
  grid-row-gap: 8px;
}

.book-img {
  width: 5em;
}

p {
  margin: 0;
  font-size: 12px;
}

.badge-main {
  font-size: 11px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  grid-column-gap: 5px;
  justify-content: left;
}
