<div class="book-card" *ngIf="setCurrentActive()">
  <div>
    <h3>{{step.value.data.title}}</h3>
    <h6>{{step.value.data.author}}</h6>
  </div>
  <img src="{{step.value.data.image}}" alt="">
  <div class="details">
    <i class="fa fa-info-circle"></i>
    <p>{{step.value.data.description | slice:0:300}}</p>
  </div>
  <div class="details">
    <i class="fa fa-bookmark"></i>
    <div>
      <span class="badge-main">Borrow</span>
      <span class="badge-main">Lend</span>
    </div>
  </div>
</div>
<div>
